body {
  margin: 0;
  background: linear-gradient(#e66465, #9198e5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  box-shadow: 2px 12px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 50%;
  text-align: center;
  color: rgb(40, 66, 40);
  font-family: "Roboto Mono", monospace;
  max-width: 700px;
}

.facts {
  font-weight: 400;
  letter-spacing: 1.5px;
}

.btn_custom {
  border-radius: 15px !important;
  margin: 10px;
}

p {
  margin-top: 5px;
  font-size: x-large;
}
